<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title>Count page</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>
    <div class="container">
    <h1>There are {{ count }} words in your text</h1>

    <a class="btn btn-primary btn-lg" href="{% url 'home' %}">Start again</a>

    <h2>Your text:</h2>
    {{ fulltext }}

    <h3>Count words:</h3>
    <table class="table table-hover">
        <thead class="thead-light">
        <tr>
            <th scope="col">Word</th>
            <th scope="col">Count</th>
        </tr>
        </thead>
      {% for word, counttotal in sortedwords %}
        <tbody>
        <tr>
            <td>{{ word }}</td>
            <td>{{ counttotal }}</td>
        </tr>
        </tbody>
      {% endfor %}
                
    </table>
         
        </div>
</body>
</html>
